<body>
  <script>
    document.cookie = "thirdparty=yes-" + (new Date()).getTime() + "; Max-Age=3600; SameSite=None; Secure";
    console.log(document.cookie)
    document.location = "complete.html";
  </script>
</body>