<html>

<head>
  <title>LTI Launch</title>
  <style>
    body {
      font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #2D3B45;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5;
      padding: 1rem;
    }

  </style>
  
</head>

<body>

  <h1>LTI Launched!</h1>

  <pre>claims:
    <%- JSON.stringify(claims, {}, 2); -%>
  </pre>
</body>

</html>